<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
</head>
<body>
  <div class="board noselect">
  </div>
  <div class="menu">
    <button id="king">Король</button>
    <button id="horse">Конь</button>
    <button id="fire">Огонь</button>
    <button id="getSolveStack">Найти решение (стек)</button>
    <button id="getSolveQueue">Найти решение (очередь)</button>
    <button id="nextStep">Шаг вперед</button>
    <button id="backStep">Шаг назад</button>
  </div>
  <div class="state">
  </div>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
